.CodeMirror {
  border: 1px solid #ccc;
}

#toolbar {
  margin: 0 0 10px 0;
}

body {
  padding: 10px;
}

.codemirror pre.line-warning {
  background: #fcc;
}

.codemirror pre.gutter-warning {
  color: red;
  font-weight: bold;
}

.callout {
  position: absolute;
  margin-top: 7px;
  background: #fee;
  padding: 5px;
  border: 1px solid #fcc;
  margin-left: -10px;
  border-radius: 6px;
  box-shadow: 3px 3px 4px #cbb;
}
.callout .notch {
  position: absolute;
  top: -5px;
  left: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fee;
}
.callout .border-notch {
  border-bottom-color: #fcc;
  top: -6px;
}
.callout .close {
  padding-left: 10px;
  font-size: 16px;
  line-height: 12px;
}

.slider {
  position: relative;
  height: 30px;
}
.slider .bk {
  position: relative;
  top: 10px;
  width: 100%;
  height: 5px;
  border: 1px solid black;
  border-radius: 2px;

  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.6);
/*  border-color: #e6e6e6 #e6e6e6 #bfbfbf;*/
  border-bottom-color: #b3b3b3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.slider .handle {
  border-radius: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  position: absolute;
  top: 4px;

  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 0 rgba(255, 255, 255, 0.2), 0 3px 6px rgba(0, 0, 0, 0.05);
}

.eval0 {
  background: rgb(255, 240, 240);
}
.eval1 {
  background: rgb(255, 220, 220);
}
.eval2 {
  background: rgb(255, 200, 200);
}
.eval3 {
  background: rgb(255, 180, 180);
}
.eval4 {
  background: rgb(255, 160, 160);
}
.eval5 {
  background: rgb(255, 140, 140);
}
.eval6 {
  background: rgb(255, 120, 120);
}
.eval7 {
  background: rgb(255, 100, 100);
}
.eval8 {
  background: rgb(255, 80, 80);
}
.eval9 {
  background: rgb(255, 60, 60);
}
.eval10 {
  background: rgb(255, 40, 40);
}
.eval11 {
  background: rgb(255, 20, 20);
}
.eval12 {
  background: rgb(255, 0, 0);
}