.callout {
  z-index: 100;
}
.callout .box {
  position: relative;
/*  height: 5px;*/
  margin: 0px;
  padding: 0px;
  right: 0px;
  margin-top: 5px;
  background: #fee;
  padding: 5px;
  border: 1px solid #fcc;
  margin-left: -10px;
  border-radius: 6px;
  box-shadow: 3px 3px 4px #cbb;
  font-size: 13px;
  overflow: visible;
}
.callout .notch {
  position: absolute;
  top: -5px;
  left: 8px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fee;
}
.callout .border-notch {
  border-bottom-color: #fcc;
  top: -6px;
}
.callout .close {
  padding-left: 10px;
  font-size: 16px;
  line-height: 12px;
  float: right;
  color: #ccc;
  cursor: pointer;
}
.callout .close:hover {
  color: #aaa;
}

.line-warning {
  background: #fcc;
}

.callout .indicator {
  position: relative;
  width: 7px;
  height: 14px;
  top: -16px;
  left: -2px;
  border: 2px solid #f00;
  border-radius: 3px;
  background: rgba(255, 238, 238, 0.55);
}