<script type="text/javascript" src="/js/processing-1.3.6.js"></script>
<script type="text/javascript" src="/js/jslint.js"></script>
<script type="text/javascript" src="/js/evaluator.js"></script>
<script type="text/javascript" src="/js/JS-Interpreter/acorn.js"></script>
<script type="text/javascript" src="/js/JS-Interpreter/interpreter.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/rudy-wrapper.js"></script>
<!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
<script type="text/javascript" src="/js/jsparse/lexer.js"></script>
<script type="text/javascript" src="/js/jsparse/parserlib.js"></script>
<script type="text/javascript" src="/js/jsparse/stringify.js"></script>
<script type="text/javascript" src="/js/jsparse/parser.js"></script>

<% helpers.includeTemplate('eval-views.html'); %>

<script type="text/javascript">
  window.Main = Em.Application.create({
    controller: CodingSupport.CodeController.create({
      codeTemplate: '<%= template %>',
      sketchId: '<%= sketchId %>',
      clientId: '<%= clientId %>',
      clonedFrom: <%- extra && extra.clonedFrom ? "'"+extra.clonedFrom+"'" : "null" %>,
      clonedTo: <%- extra && extra.clonedTo ? "'"+extra.clonedTo+"'" : "null" %>,
      completed: false,
      
      level: <%= extra ? extra.level : 1 %>,
      
      runtimeErrorHandler: function(error, frame, stack) {
        var pos = this.get('codeMirrorView.codeArea').posFromIndex(frame.node.start);
        this.get('codeMirrorView').markErrors([{
          line: pos.line+1,
          character: pos.char,
          reason: "Runtime error: "+(error.getMessage ? error.getMessage() : String(error))
        }]);
      },
      
      extra: function() {
        return {level: this.get('level'), evaluationDelay: this.get('evaluationDelay'), clonedFrom: this.get('clonedFrom'), clonedTo: this.get('clonedTo')};
      }.property('level', 'evaluationDelay', 'clonedFrom', 'clonedTo'),
      
      levelCompletedHandler: function(newLevel) {
        this.set('completed', true);
      },

      evaluationDelay: <%= extra && 'evaluationDelay' in extra ? extra.evaluationDelay : 32 %>,
      evaluationDelayWatch: function() {
        this.noteCodeChange();
      }.observes('evaluationDelay'),
      showInitialState: function() {
        window.ProcessingWrapper.executeCode("", this);
      }.observes('level'),
      
      resizeSidebar: function() {
        var winHeight = window.innerHeight || (document.documentElement || document.body).clientHeight;
        $('#pjs-wrapper').css('height', winHeight-60);
        // document.getElementById('pjs-wrapper').style.height = (winHeight - 60) + "px";
      },
      
      play: function() {
        document.getElementById('pjs-wrapper').scrollTop = 0;
        this._super();
      },
      running: function() {
        return this.get('state') == 'running';
      }.property('state')
    }),
    ToolbarView: Em.View.extend({
      play: function() {
        this.get('controller').play();
      },
      stop: function() {
        this.get('controller').stop();
      },
      runningBinding: "controller.running",
      parse: function() {
        this.get('controller').parse();
      },
      advanceLevel: function() {
        if (this.get('controller.clonedTo')) {
          window.location = "/edit/rudy/"+this.get('controller.clonedTo');
        } else {
          window.location = "/new/rudy?cloneCode="+this.get('controller.sketchId')+
            "&evaluationDelay="+this.get('controller.evaluationDelay')+
            "&level="+(this.get('controller.level')+1);
        }
      },
      revertLevel: function() {
        window.location = "/edit/rudy/"+this.get('controller.clonedFrom');
      },
      canAdvance: function() {
        return this.get('controller.completed') || this.get('controller.clonedTo');
      }.property('controller.completed', 'controller.clonedTo'),
      canRevert: function() {
        return this.get('controller.clonedFrom');
      }.property('controller.clonedFrom'),
      revertStyle: function() {
        return this.get('canRevert') ? "font-size: 10px;" : "font-size: 10px; visibility: hidden;";
      }.property('canRevert'),
      increaseEvaluationDelay: function() {
        if (this.get('controller.evaluationDelay') == 0) {
          this.set('controller.evaluationDelay', 1);
        } else {
          this.set('controller.evaluationDelay', this.get('controller.evaluationDelay')*2);
        }
      },
      decreaseEvaluationDelay: function() {
        if (this.get('controller.evaluationDelay') == 1) {
          this.set('controller.evaluationDelay', 0);
        } else {
          this.set('controller.evaluationDelay', Math.round(this.get('controller.evaluationDelay')/2));
        }
      }
    }),
    NotifyOnLoadView: Em.View.extend({
      didInsertElement: function() {
        this.get('target')[this.get('action')]();
      }
    })
  });

  $(function() {
    document.onkeypress = function(e) {
      if ((e.ctrlKey || e.metaKey) && e.keyCode == 114) { // Ctrl-R
        e.preventDefault();
        if (! window.Main.controller.get('running')) {
          window.Main.controller.play();
        }
      }
    }
  });
</script>

<script type="text/javascript">
  $(window).resize(Main.controller.resizeSidebar);
  // setTimeout(resizeSidebar, 100);
</script>

<script type="text/x-handlebars" date-template-name="application">
  <div id="toolbar">
    {{#view Main.ToolbarView controllerBinding="Main.controller"}}
      <div class="pull-right" style="padding-top: 5px;"><span class="label" {{bindAttr class="statusLabel.c" }}> {{statusLabel.l}}</span></div>
      {{#if view.running}}
        <button class="btn btn-primary" {{action "stop"}}><i class="icon-stop icon-white"></i> Stop</button>
      {{else}}
        <button class="btn btn-primary" {{action "play"}}><i class="icon-play icon-white"></i> Run</button>
      {{/if}}
      <span style="display: inline-block; padding-left: 30px;">Evaluation step delay: <span class="arrows"><a href="#" {{action increaseEvaluationDelay}}>⬆</a><br><a href="#" {{action decreaseEvaluationDelay}}>⬇</a></span> {{Main.controller.evaluationDelay}} ms</span>
      <!-- <button class="btn btn-info" {{action "parse"}}><i class="icon-white icon-leaf"></i> Parse</button> -->
      <span style="display: inline-block; padding-left: 30px">
        <span {{bindAttr style="view.revertStyle"}}><a href="#" {{action "revertLevel"}}>&laquo; go back</a></span>
        <span style="padding-left: 10px; padding-right: 10px;">Level: <strong>{{level}}</strong></span>
        {{#if view.canAdvance}}<button class="btn btn-mini btn-success" {{action "advanceLevel"}}>Advance ➙</button>{{/if}}
      </span>
      <div></div>
    {{/view}}
  </div>
  <div id="pjs-wrapper" class="pull-right" style="width: 360px; padding-left: 10px; overflow: scroll;">
    <canvas id="pjs"></canvas>
    <canvas id="sample" style="display: none;"></canvas>
    {{view Main.NotifyOnLoadView targetBinding="Main.controller" action="resizeSidebar"}}
    <h3>Programming Syntax Cheat Sheet</h3>
    <h4>Naming &amp; updating</h4>
    <p>Create a new name:
      <pre style="color: #d14;">var numberOfDots = 1;</pre>
    </p>
    <p>Update a name’s value:
      <pre style="color: #d14;">numberOfDots = numberOfDots + 1;</pre>
      This line computes the value of <em>numberOfDots&nbsp;+&nbsp;1</em>, and stores the new value in <em>numberOfDots</em>.
    </p>

    <h4>If, else</h4>
    <p>Run some code if a condition is true:
      <pre style="color: #d14">if (getColor() == "blue") {
  right();
} else {
  left();
}</pre>
This code tells Rudy to go right if the current color is blue, and left otherwise. The <em>else { ... }</em> clause is optional.</p>

    <h4>While</h4>
    <p>Repeat some code as long as a condition is true:
      <pre style="color: #d14;">while (getColor() == "blue") {
  down();
}</pre>
This code tells Rudy to go down as long as the square Rudy is currently on is blue.</p>
    <p>Other possible condition checks include:</p>
    <table>
      <tr><td><code>!=</code></td><td><p>(not equal to)</p></td></tr>
      <tr><td><code>&lt; </code></td><td><p>(less than)</p></td></tr>
      <tr><td><code>&lt;=</code></td><td><p>(less than or equal to)</p></td></tr>
      <tr><td><code>&gt; </code></td><td><p>(greater than)</p></td></tr>
      <tr><td><code>&gt;=</code></td><td><p>(greater than or equal to)</p></td></tr>
    </table>
    <p>Combine conditions with logical <code>||</code> (or) and <code>&&</code> (and), like:
      <pre style="color: #d14;">if ((getColor() == "red") || (total &lt; 8)) { 
  right(); 
}</pre>
    </p>

    <h4>Functions</h4>
    <p>To execute the <em>repeatDown</em> function:
      <pre style="color: #d14;">repeatDown(5);</pre>
      This function <em>repeatDown</em> is executed with one parameter: the number <em>5</em>.
    </p>
    <p>To define the <em>repeatDown</em> function:
      <pre style="color: #d14;">function repeatDown(total) {
  var count = 0;
  while (count < total) {
    down();
    count = count + 1;
  }
}</pre>
The previous example, <code>repeatDown(5)</code>, sets <code>total = 5</code> inside the body of the <em>repeatDown</em> function.
    </p>
  </div>
  <div style="margin-right: 370px;">
    {{#view CodingSupport.CodeMirrorView autoResize=true controllerBinding="Main.controller" initialCode="<%- encodeURIComponent(initialCode) %>"}}{{/view}}
  </div>
</script>

<script>
$(function() {
  // var socket = io.connect();
  // socket.on('connect', function() {
  //   socket.emit('register', {id: Main.controller.get('clientId')});
  // });
  // socket.on('runtime error', function(data) {
  //   console.log("runtime error!", data);
  //   Main.controller.get('codeMirrorView').markErrors([
  //     { line: data.line, character: data.char, reason: data.msg }
  //   ]);
  // });
});
</script>

<canvas id="testcanvas" style="display: none;"></canvas>