<script type="text/javascript" src="/js/processing-1.3.6.js"></script>
<script type="text/javascript" src="/js/jslint.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<div id="toolbar">
  <script type="text/x-handlebars">
    <div class="pull-right" style="padding-top: 5px;"><i {{bindAttr class="Main.controller.status" title="Main.controller.statusTitle"}}></i></div>
    <button class="btn btn-primary" {{action "play" target="Main.controller"}}><i class="icon-play icon-white"></i> Run</button>
  </script>
</div>

<textarea id="editor">
<%- initialCode %>
</textarea>

<script>
var template = '<%= template %>';
var sketchId = '<%= sketchId %>';
$(function() {
  Main.controller.set('codeTemplate', template);
  Main.controller.set('sketchId', sketchId);
  var socket = io.connect('http://localhost:8080');
  socket.on('connect', function() {
    socket.emit('register', {id: sketchId});
  });
  socket.on('runtime error', function(data) {
    console.log("runtime error!", data);
    Main.errorController.markErrors([
      { line: data.line, character: data.char, reason: data.msg }
    ]);
  });
});
</script>

<canvas id="testcanvas" style="display: none;"></canvas>