<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Rudy the Red Dot</h1>
      
      <!-- <p><a href="/new/run">Free play with processing.js &raquo;</a></p> -->
      
      <p>Start at a level:<ul>
        <li><a href="/new/rudy?level=1">Level 1 &raquo;</a></li>
      </ul></p>

      <!-- <h1>Learn programming in 4 short courses.</h1>

      <h2>Course 0: An overview.</h2>
      <p>In this course, you'll learn what programming is. We'll look at the anatomy of four different applications, and you'll learn what different skills are required for different types of application.</p>

      <h2>Course 1: Rudy the Red Dot &amp; JavaScript Syntax</h2>
      <p>In this course, you'll learn the syntax of the JavaScript programming language. JavaScript is a required language for web applications, but it's not often used for other types of programs. However, the syntax of the JavaScript language is quite similar in many respects to Objective-C (used for iPhone/iPad apps), Java (used for Android apps), and C++ (used for desktop apps and high-performance web apps). Once you know JavaScript, it will be much, much easier to learn other languages.</p>
      
      <h2>Course 2: Processing &amp; Principles of Software Engineering</h2>
      <p>This course introduces Processing, a software library that lets you create interactive art sketches. In this course, you'll learn about how to use a software library, how to break a hard problem down into smaller, easier parts, and how to work with user input.</p>
      
      <h3>Sidebar: UNIX and the command line.</h3>
      <p>Knowing the basics of the UNIX command line is a requirement for professional programming.</p> -->
      
    </div>
  </div>
</div>