<html>
<head>
  <!-- utilities, woo -->
  <script type="text/javascript" src="/js/json2.js"></script>
  <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/handlebars-1.0.rc.1.js"></script>
  <script type="text/javascript" src="/js/ember-1.0.0-pre.2.js"></script>
  
  <!-- code editing support -->
  <script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <script type="text/javascript" src="/codemirror/mode/javascript/javascript.js"></script>
  <script type="text/javascript" src="/channel/bcsocket.js"></script>
  <script type="text/javascript" src="/share/share.uncompressed.js"></script>
  <script type="text/javascript" src="/share/cm.js"></script>

  <!-- processing support -->
  <script type="text/javascript" src="/js/processing-1.3.6.js"></script>
  
  <!-- css -->
  <link rel="stylesheet" href="/css/main.css">
  <title><%- helpers.title ? helpers.title : "Programming, woo!" %></title>
</head>
<body>
  <%- body %>
</body>
</html>