<html>
<head>
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/processing-1.3.6.js"></script>
</head>
<body>
<canvas id="pjs"></canvas>

<script type="text/javascript">
var clientId = <%- clientId ? '"'+clientId+'"' : null %>;
function sketchProc(processing) {
  var TIMEOUT = 5*1000;
  if (! window.__ck) {
    window.__ck = function(line, char) {
      if (! window.__ck_lastrun) {
        clearTimeout(window.__ck_timeout);
        window.__ck_timeout = setTimeout(function() {
          delete window.__ck_lastrun;
        }, 0);
        window.__ck_lastrun = +new Date();
      }
      var now = +new Date();
      if (now - window.__ck_lastrun > TIMEOUT) {
        processing.println("Line "+line+", character "+char+": Execution exceeded "+Math.round(TIMEOUT/1000)+" seconds...perhaps you have an infinite loop?");
        if (clientId) {
          $.ajax({
            type: 'post',
            url: '/runtimeError',
            data: {
              id: clientId,
              line: line,
              char: char,
              msg: "Execution timed out."
            }
          });
        }
        throw new Error("Execution timed out.");
      }
    }
  }

  with (processing) {
    (function() {
      <%- code %>      
    }());
  }
}
var canvas = document.getElementById('pjs');
var processingInstance = new Processing(canvas, sketchProc);
</script>

</body>
</html>